{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
	Home page Authentication

	<div>
		<a href="http://localhost:3000/signup">Registration ></a>
		<a href="http://localhost:3000/recovery">Recovery ></a>
		<a href="http://localhost:3000/recovery-confirm">Recovery-confirm ></a>
		<a href="http://localhost:3000/login">Login ></a>
		<a href="http://localhost:3000/user-list">User-list ></a>
	</div>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}